<div class="container">
    <div mat-dialog-title class="text-center">Enter Doctor Details</div>
    <mat-grid-list cols="2">
        <form action="" (ngSubmit)="onUpdate(doctor)" >
            <div class="form-parent">
                <div class="form-child">
                    <p>
                        <mat-form-field>
                            <mat-label>Choose Doctor</mat-label>
                            <mat-select [(ngModel)]="doctor" name="doctorId" required>
                          <mat-option *ngFor="let doctor of doctorList" [value]="doctor">
                            {{doctor.doctorId}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Doctor Name</mat-label>
                            <input matInput type="text" name="doctorName" placeholder="Enter doctor Name" required [(ngModel)]="doctor.doctorName">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Specialization</mat-label>
                            <input matInput type="text" name="specialization" placeholder="Enter specialization" required [(ngModel)]="doctor.specialization">
                        </mat-form-field>
                    </p>
                </div>
                <div class="form-child">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Doctor Phone</mat-label>
                            <input matInput type="text" (keydown)="isNumber($event)" name="dcotorPhone" placeholder="Enter doctor Phone" required [(ngModel)]="doctor.doctorPhone">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Doctor Email</mat-label>
                            <input matInput type="email" name="dcotorEmail" placeholder="Enter doctor Email" required [(ngModel)]="doctor.doctorEmail">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Doctor Password</mat-label>
                            <input matInput type="password" name="doctorPassword" placeholder="Enter doctor Password" required [(ngModel)]="doctor.doctorPassword">
                        </mat-form-field>
                    </p>
                </div>
            </div>
            <div class="container text-center">
                <button mat-raised-button matDialogClose type="submit">Update</button>
                <button mat-raised-button matDialogClose color="accent">Cancel</button>
            </div>
        </form>
        <!-- {{pharmacy | json}} -->
    </mat-grid-list>
</div>