<body>
    <div class="container">
      <form #loginForm="ngForm" (ngSubmit)="loginDoctor()">
        <span class="text-danger">{{msg}}</span>
        <div class="doctor-details">
            <div class="form-group">
            <div class="input-box">    
                  <label>Login</label><br>
                  <input required type="text" id="doctorId" [(ngModel)]="doctor.doctorId" name="doctorId" placeholder="Enter Doctor Id" #doctorId="ngModel" [class.is-invalid]="doctorId.invalid && doctorId.touched">
                  <div *ngIf="doctorId.errors &&  (doctorId.invalid && doctorId.touched)">
                  <span class="text-danger" *ngIf="doctorId.errors['required']">DoctorId is required</span> 
                  </div>
            </div>     
            <div class="form-group">
                    <input required type="password" id="pwd" [(ngModel)]="doctor.doctorPassword" name="password" placeholder="Enter Password" #pwd="ngModel" [class.is-invalid]="pwd.invalid && pwd.touched">
                    <div *ngIf="pwd.errors &&  (pwd.invalid && pwd.touched)">
                      <span class="text-danger" [class.d-none]="pwd.valid || pwd.untouched">Password is required</span>
                    </div>
            </div> 
                    <button [disabled]="loginForm.form.invalid" type="submit" id="btn" class="btn btn-info">Login</button>
            </div>
            </div> 
        </form>
    </div>
</body>
              
