<div class="container">
    <div mat-dialog-title class="text-center">Enter Pharmacy Details</div>
    <mat-grid-list cols="2">
        <form action="" (ngSubmit)="onUpdate(pharmacy)" >
            <div class="form-parent">
                <div class="form-child">
                    <!-- {{pharmacyList | json}} -->
                    <p>
                        <mat-form-field>
                            <mat-label>Choose Pharmacy</mat-label>
                            <mat-select [(ngModel)]="pharmacy" name="doctorId" required>
                            <mat-option *ngFor="let pharmacy of pharmacyList" [value]="pharmacy">
                            {{pharmacy.pharmacyId}}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Pharmacy Name</mat-label>
                            <input matInput type="text" name="pharmacyName" placeholder="Enter Pharmacy Name" required [(ngModel)]="pharmacy.pharmacyName">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Pharmacy Owner</mat-label>
                            <input matInput type="text" name="pharmacyOwner" placeholder="Enter Pharmacy Owner" required [(ngModel)]="pharmacy.pharmacyOwner">
                        </mat-form-field>
                    </p>
                </div>
                <div class="form-child">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Pharmacy Phone</mat-label>
                            <input matInput type="text" name="pharmacyPhone" (keydown)="isNumber($event)" placeholder="Enter Pharmacy Phone" required [(ngModel)]="pharmacy.pharmacyPhone">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Pharmacy Email</mat-label>
                            <input matInput type="email" name="pharmacyEmail" placeholder="Enter Pharmacy Email" required [(ngModel)]="pharmacy.pharmacyEmail">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Pharmacy Password</mat-label>
                            <input matInput type="password" name="pharmacyPassword" placeholder="Enter Pharmacy Password" required [(ngModel)]="pharmacy.pharmacyPassword">
                        </mat-form-field>
                    </p>
                </div>
            </div>
            <div class="container text-center">
                <button mat-raised-button matDialogClose type="submit">Update</button>
                <button mat-raised-button matDialogClose color="accent">Cancel</button>
            </div>
        </form>
        <!-- {{pharmacy | json}} -->
    </mat-grid-list>
</div>