<mat-grid-list cols="4" rowHeight="1:1" class="home">
    <mat-grid-tile>
        <div class="text-center">
            <div>
                <img src="../../../assets/project-manager.png" alt="" height="150px">
                <h1>Admin Login</h1>
                <button mat-raised-button color="primary" routerLink="/admin-login"> Login </button>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="text-center">
            <div>
                <img src="../../../assets/patient.png" alt="" height="150px">
                <h1>Patient Login</h1>
                <button mat-raised-button color="primary" routerLink="/user-login"> Login </button>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="text-center">
            <div>
                <img src="../../../assets/medical-team.png" alt="" height="150px">
                <h1>Doctor Login</h1>
                <button mat-raised-button color="primary" routerLink="/doctor-login" > Login </button>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="text-center">
            <div>
                <img src="../../../assets/pharmacy.png" alt="" height="150px">
                <h1>Pharmacy Login</h1>
                <button mat-raised-button color="primary" routerLink="/pharmacy-login">Login</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
