
.container{
    height: 85vh;
    width: 100%;
    overflow: auto;
}
.example-card {
    max-width: 800px;
    margin: auto;
}
.slot-table{
    margin: auto;
}

h3{
    color: teal;
}
th{
    border-bottom: 1px solid black;
    border-top: 2px solid black;
    padding:10px 20px 10px 20px ;
}
td{
    padding:10px 20px;
}
button{
    background-color: teal;
    color: white;
}
  
