
<div class="container mt50">

    <mat-card class="example-card tex-center">
    <div class="text-center">
      <h3>Patient Slot Details</h3>
    </div>
    <div >
        <table class="slot-table">
            <thead>
                <tr>
                    <th>Slot Id: </th> 
                    <th>Patient Name</th>
                    <th>Doctor Id</th> 
                    <th>Patient Age</th> 
                    <th>Slot Date</th>
                    <th>Prescription</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{slot.slotId}}</td>
                    <td>{{slot.patientName}}</td>
                    <td>{{slot.doctorId}}</td>
                    <td>{{slot.patientAge}}</td>
                    <td>{{slot.slotDate}}</td>
                    <td><button mat-raised-button  name="prescription" (click)="viewPrescription(slot.prescription)"><i class="bi bi-folder2-open"></i> View</button></td>
                </tr>
            </tbody>
        </table>
    </div>
  </mat-card>
  
</div>