<div class="container">
    <div mat-dialog-title class="text-center">Enter Pharmacy Id</div>
    <mat-grid-list cols="2">
        <form action="" (ngSubmit)="onDelete(pharmacy)">
            <div class="form-parent">
                <div class="form-child">
                    <p>
                        <mat-form-field>
                            <mat-label>Choose Pharmacy</mat-label>
                            <mat-select [(ngModel)]="pharmacy" name="doctorId" required>
                          <mat-option *ngFor="let pharmacy of pharmacyList" [value]="pharmacy">
                            {{pharmacy.pharmacyId}} ({{pharmacy.pharmacyName}})
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </p>
                  
                </div>
            </div>
            <div class="container text-center">
                <button mat-raised-button matDialogClose color="warn" type="submit" >Delete</button>
                <button mat-raised-button matDialogClose color="accent">Cancel</button>
            </div>
        </form>
    </mat-grid-list>
</div>