.container{
    display: flex;
}
.example-spacer{
    flex: 1 1 auto;
}
mat-toolbar{
    background-color: teal;
    border-bottom: 2px solid white;
    color: white;
    top: 0;
}
.mat-icon-button{
    font-size: 2rem;
}
.mat-icon-button:hover{
    color: black;
}
.bi::before{
    margin: 0 -5px 12px 0;
  }