<mat-toolbar *ngIf="adminService.isVisible">
    <div class="container">
        <span><a mat-icon-button routerLink="/">
                <em class="bi bi-house-door"></em>
                Home
            </a></span>
        <span class="example-spacer"></span>

            <a mat-icon-button *ngIf="adminService.isLogin" (click)="login()">
                <em class="bi bi-box-arrow-in-right" ></em>
                Login</a>
            <a routerLink="/home" mat-icon-button *ngIf="!adminService.isLogin" (click)="logout()">
                <em class="bi bi-box-arrow-left"></em>
                Log out</a>
    </div>
</mat-toolbar>