
h2{
    background-color: teal;
    color: white;
    width: 30%;
    margin: auto;
    border-radius: 20px;
}
button{
    margin: auto;
    background-color: teal;
    color: white;
    border-radius: 20px;
}
.container{
    height: 85vh;
    overflow: auto;
}
table{
    width: 90%;
    margin: auto;
}
td.mat-cell, th.mat-header-cell {
    text-align: center;
    justify-content:center;
}
.date{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}